<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Physical Therapy</title>
	<link rel="icon" href="data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-person' viewBox='0 0 16 16'>
  <path d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z'/>
</svg>">
	<link rel="stylesheet" th:href="@{/styles.css}">
	<link rel="stylesheet" th:href="@{/physical/styles.css}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</head>

<body>
	<header th:insert="~{nav :: nav-fragment}"></header>
	<div class="container">
		<div class=" bg-light rounded row text-center">

			<div class="col">
				<div>
					<h1 class="heading">Physical Therapy</h1>
				</div>
				<img class="image rounded" th:src="@{/physical/images/physical-therapy.jpg}"></img>
				<div class="p-2 text-start">
					Welcome to the Physical Therapy Center. This application will assist physical therapists and their
					clients as they work through the recovery process.
					For Physical therapists, they will be able to add new clients, search through available exercises,
					assign clients workout assignments (collections of exercises), and update their contact information.
					For physical therapy clients, this application will allow them access sample videos of their
					workouts, and mark workouts as done when they are completed, view their physical therapists
					information and update their own contact information.
				</div>
			</div>

		</div>

		<div class="row g-2">
			<secion class="p-3 m-5 rounded bg-light">
				<h1>Login and Physical Therapist View <a th:if="${session.physical1} eq false"
						th:href="@{/physical/physical1}"><i class="bi bi-chevron-double-down"></i></a>
					<a th:if="${session.physical1} eq true" th:href="@{/physical/physical1}"><i
							class="bi bi-chevron-double-up"></i></a>
				</h1>
				<section th:if="${session.physical1} eq true">
					<p> You are on the team that is building the Physical therapist's view of the current application.
						You will be building out how they log in and what they see in their portal.
						Below you are provided with the business requirements for this component of the application.
						There is a collection of available physical therapists and their data included the
						icode/physical/data package of the iCode application.
					</p>
					<h3>Tasks</h3>
					<ul>
						<li>Create the login functionality</li>
						<ul>
							<li>login should validate the user and direct them to their home page after logged in</li>
							<li>If a username or password is invalid, user should be redirected to login with an error
								message</li>
							<li>There should be a way to logout which directs the therapist to login page</li>
						</ul>
						<li>Create Therapist Home Page</li>
						<ul>
							<li>Home page should have a nav component to: view clients, view exercise page (redirect to
								existing mapping in other team's controller)</li>
							<li>Clients</li>
							<ul>
								<li>Therapist should be able to view all their clients</li>
								<li>Therapist should be able to sort and filter clients based on: status</li>
								<li>Therapist should be able to update status on view-all page with a click</li>
								<li>Therapist should be able to update all client information on update-client page</li>
								<li>Therapist should be able to add new clients</li>
							</ul>
						</ul>
						<h3>Additional tasks</h3>
						<li>Therapist should have the ability to update their own information</li>
						<li>Give Therapists a profile photo that display on their home page</li>
						<li>Create unique styles for your HTML pages</li>
					</ul>
					<a class="text-center" th:href="@{/therapist/login}">
						<h1>Start!</h1>
					</a>
				</section>
			</secion>
		</div>
		<div class="row g-2">
			<secion class="p-3 rounded bg-light">
				<h1>Login and Client View <a th:if="${session.physical2} eq false" th:href="@{/physical/physical2}"><i
							class="bi bi-chevron-double-down"></i></a>
					<a th:if="${session.physical2} eq true" th:href="@{/physical/physical2}"><i
							class="bi bi-chevron-double-up"></i></a>
				</h1>
				<section th:if="${session.physical2} eq true">
					<p> You are on the team that is building the Physical therapy clients' view of the current
						application.
						You will be building out how they log in and what they see in their portal.
						Below you are provided with the business requirements for this component of the application.
						There is a collection of available physical therapy clients and their data included the
						icode/physical/data package of the iCode application.
					</p>
					<h3>Tasks</h3>
					<ul>
						<li>Create the login functionality</li>
						<ul>
							<li>login should validate the user and direct them to their home page after logged in</li>
							<li>If a username or password is invalid, user should be redirected to login with an error
								message</li>
							<li>There should be a way to logout which directs the therapist to login page</li>
						</ul>
						<li>Create Client Home Page</li>
						<ul>
							<li>Clients should be able to view all their assignments on their homepage</li>
							<li>Clients should be able to sort and filter clients based on: times completes</li>
							<li>Clients should be view assignment details (link to other teams' AssignmentController)</li>
							<li>Clients should be able to access their physical therapists contact information</li>
							<li>Clients should be able to view and update their contact information</li>
						</ul>
						<h3>Additional tasks</h3>
						<li>Clients should have the ability to update their password</li>
						<li>Give Clients a profile photo that display on their home page</li>
						<li>Create unique styles for your HTML pages</li>
					</ul>
					<a class="text-center" th:href="@{/client/login}">
						<h1>Start!</h1>
					</a>
				</section>
			</secion>
		</div>
		
		<div class="row g-2">
			<secion class="p-3 m-5 rounded bg-light">
				<h1>Exercise Inventory <a th:if="${session.physical3} eq false"
						th:href="@{/physical/physical3}"><i class="bi bi-chevron-double-down"></i></a>
					<a th:if="${session.physical3} eq true" th:href="@{/physical/physical3}"><i
							class="bi bi-chevron-double-up"></i></a>
				</h1>
				<section th:if="${session.physical3} eq true">
					<p> You are on the team that is building the Exercise inventory view of the current application.
						You will be building out physical therapist's ability to view all, sort, and manipulate exercises available.
						Below you are provided with the business requirements for this component of the application.
						There is a collection of available exercises and their data included the
						icode/physical/data package of the iCode application.
					</p>
					<h3>Tasks</h3>
					<ul>
						The home page of the inventory will display all exercises in alphabetical order.
						<li>Create CRUD functionality for exercises</li>
						<ul>
							<li>Therapists should be able to create new exercises</li>
							<li>Therapists are about to see exercise details</li>
							<li>Therapists should be able to update existing exercise information</li>
							<li>Therapists should be able to delete existing exercises</li>
						</ul>
						<li>Filtering functionality</li>
						<ul>
							<li>Only display exercises that start with specific letters</li>
							<li>Only Display exercises associated with a specific region of the body</li>
						</ul>
						<h3>Additional tasks</h3>
						<li>Use the video field to associates the exercise with a YouTube video</li>
						<li>Have the video display on the exercise details page</li>
						<li>Create a new way of sorting or filtering the exercises that has not already been mentioned</li>
						<li>Create unique styles for your HTML pages</li>
					</ul>
					<a class="text-center" th:href="@{/exercises}">
						<h1>Start!</h1>
					</a>
				</section>
			</secion>
		</div>
		
		<div class="row g-2">
			<secion class="p-3 mb-5 rounded bg-light">
				<h1>Assignments <a th:if="${session.physical4} eq false" th:href="@{/physical/physical4}"><i
							class="bi bi-chevron-double-down"></i></a>
					<a th:if="${session.physical4} eq true" th:href="@{/physical/physical4}"><i
							class="bi bi-chevron-double-up"></i></a>
				</h1>
				<section th:if="${session.physical4} eq true">
					<p> You are on the team that is building the Physical therapists' ability to create assignments functionality for
						 the current application.
						You will be building out how assignments are created, assigned to clients, and viewed by clients.
						Below you are provided with the business requirements for this component of the application.
						There is a collection of available clients, exercises and their data included the
						icode/physical/data package of the iCode application.
					</p>
					<h3>Tasks</h3>
					<ul>
						<li>Create functionality</li>
						<ul>
							<li>Therapists should have the functionality to create new assignments, indicating the total number of times it should be completed</li>
							<li>Therapists will be able to search through the current exercises add them to the assignment: specifying the reps and sets of the workout</li>
							<li>Therapists will be able to associate the assignment with a client</li>
						</ul>
						<li>Cliet Interaction</li>
						<ul>
							<li>Clients will be able to view a list of all their assignments</li>
							<li>Clients will be able to view assignment details: checkbox list of workouts displaying exercise name, reps, and sets</li>
							<li>Clients will be able to view exercise details</li>
							<li>Clients will be able to mark workouts as completed, this will reflect on the UI as strike through or disabled checkbox</li>
						</ul>
						<h3>Additional tasks</h3>
						<li>Clients will be able to reset their assignments (incrementing times completing, reseting workouts to not completed)</li>
						<li>List of assignments can display different colors indicating whether an assignment is completed, in progress, and not started</li>
						<li>Create unique styles for your HTML pages</li>
					</ul>
					<a class="text-center" th:href="@{/assignment}">
						<h1>Start!</h1>
					</a>
				</section>
			</secion>
		</div>
		
	</div>


</body>

</html>